<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267269945666-7gb8vjthgdrq79pm65shs39vcamv34ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267269945666-7gb8vjthgdrq79pm65shs39vcamv34ie</string>
	<key>API_KEY</key>
	<string>AIzaSyBXYdFd6rchGSw_6UJL6CY7eUQJrQUfyBY</string>
	<key>GCM_SENDER_ID</key>
	<string>267269945666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebasePractice.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-7c20a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-7c20a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267269945666:ios:4dd9b797f5d196ef05f0db</string>
</dict>
</plist>